@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  .font-pixel {
    font-family: var(--font-pixelfont), monospace;
  }
}

@layer components {
  .pixel-box {
    border: 4px solid #000000;
    box-shadow: 4px 4px 0px #000000;
  }

  .pixel-button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000000;
  }
}

